<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New competency curriculum design</h1>

  <%= render "form", competency_curriculum_design: @competency_curriculum_design %>

  <%= link_to 'Back to competency curriculum designs', competency_curriculum_designs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
