<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing contract supervisor</h1>

  <%= render "form", contract_supervisor: @contract_supervisor %>

  <%= link_to "Show this contract supervisor", @contract_supervisor, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to contract supervisors", contract_supervisors_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
