<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing personal inexistence</h1>

  <%= render "form", personal_inexistence: @personal_inexistence %>

  <%= link_to "Show this personal inexistence", @personal_inexistence, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to personal inexistences", personal_inexistences_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
