<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editando un formato de inexistencia de personal</h1>

  <%= render "form", personal_inexistence: @personal_inexistence %>

  <%= link_to "Mostrar este formato de inexistencia de personal", @personal_inexistence, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Regresar", personal_inexistences_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
