<div class="grid grid-cols-4 gap-4 mt-8">
  <div class="p-1 shadow-xl bg-gradient-to-r rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contractors">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de un contratista</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/previous_studies">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Prueba estudios previos</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/personal_inexistences">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Prueba inexistencia de personal</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/equal_objects">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Prueba objetos iguales</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contracting_authorizations">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Prueba autoriazacion contratista</h5>
      </div>
    </a>
  </div>


  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/healths">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de la EPS de un contratista</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/pensions">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de la pension de un contratista</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/emails">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de los correos de un contratista</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/phones">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar telefonos de un contratista</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contractor_professions">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar profesiones de un contratista</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contracts">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de un contrato</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contract_supervisors">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de un supervisor de un contrato</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/supervisors">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar supervisores</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contract_statuses">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de el estado de un contrato</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contract_requirements">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar requisitos de un contrato</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/payments">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de los pagos de un contrato</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contract_movements">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de los movimientos de un contrato</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/previous_studies">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar Estudios previos</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/programs">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar programas de estudios previos</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/curriculum_designs">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar dise単o curricular de un programa</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/curriculum_design_profiles">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar perfiles de un dise単o curricular</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/competency_curriculum_designs">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar competencias de un dise単o curricular</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/competency_curriculum_designs">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar competencias de un dise単o curricular</h5>
      </div>
    </a>
  </div>

</div>

