<div class="grid grid-cols-4 gap-4 mt-8">
  <div class="p-1 shadow-xl bg-gradient-to-r rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contractors">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Agregar datos de un contratista</h5>
      </div>
    </a>
  </div>

  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/previous_studies">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">estudios previos</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/personal_inexistences">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">inexistencia de personal</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/equal_objects">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">objetos iguales</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/contracting_authorizations">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">autoriazacion contratista</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/memorandum_contractings">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Memorando contratacion</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/inclusion_object_acqus">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">Inclusion de objetos iguales en el plan de Adquisiciones</h5>
      </div>
    </a>
  </div>
  <div class="p-1 shadow-xl bg-gradient-to-r  rounded-2xl">
    <a class="block p-6 bg-white sm:p-8 rounded-xl" href="/anexo_plan_contratacions">
      <div class="mt-16 sm:pr-8">
        <h5 class="text-xl font-bold text-gray-900">anexo plan de contratacion</h5>
      </div>
    </a>
  </div>


</div>

