<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing contract requirement</h1>

  <%= render "form", contract_requirement: @contract_requirement %>

  <%= link_to "Show this contract requirement", @contract_requirement, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to contract requirements", contract_requirements_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
