<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New inclusion annual object of acquisition</h1>

  <%= render "form", inclusion_annual_object_of_acquisition: @inclusion_annual_object_of_acquisition %>

  <%= link_to 'Back to inclusion annual object of acquisitions', inclusion_annual_object_of_acquisitions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
