<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing contractor profession</h1>

  <%= render "form", contractor_profession: @contractor_profession %>

  <%= link_to @contractor_profession, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
  <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
  <span
    class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Mostrar
    las profesiones del contratista
    <%= link_to contractor_professions_path, class: "relative inline-block text-sm font-medium text-white group focus:outline-none focus:ring" do %>
    <span class="absolute inset-0 border border-naranja group-active:border-naranja"></span>
    <span
      class="block px-12 py-3 transition-transform bg-naranja border border-naranja active:border-naranja active:bg-red-500 group-hover:-translate-x-1 group-hover:-translate-y-1">Regresar
      <% end %>
</div>
