<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New contractor profession</h1>

  <%= render "form", contractor_profession: @contractor_profession %>

  <%= link_to 'Back to contractor professions', contractor_professions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
