body{
    padding-top: 0.50cm;
    padding-bottom: 0.49cm;
    padding-left: 0.60cm;
    padding-right: 1cm;
}

#logo_sena{
    text-align: center;
}

h3{
    text-align: center;
    padding-top: 20px;
}

h4{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#texto{
    text-align: justify;
}

#texto_pequeño{
    font-size: small;
}

#pantallazo{
    text-align: center;
    padding-top: 20px;
}
#numeracion{
    text-align: right;
}
