body{
    padding-top: 0.50cm;
    padding-bottom: 0.49cm;
    padding-left: 0.60cm;
    padding-right: 1cm;
}

#logo_sena{
    text-align: center;
    padding-bottom: 40px;
}

h3{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}

th{
    text-align: left;
}

#titulo_tabla{
    text-align: center;
}

table{
    height: 80%;
    width: 800px;
    text-align: justify;
    padding-bottom: 60px;
}

p{
    font-size: small;
}
#numeracion{
    text-align: right;
}
