body{
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

#logo_sena{
    text-align: center;
}

h2, h3{
    text-align: center;
    padding-bottom: 10px;
}

p{
    text-align: justify;
}
