<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing memorandum contracting</h1>

  <%= render "form", memorandum_contracting: @memorandum_contracting %>

  <%= link_to "Show this memorandum contracting", @memorandum_contracting, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to memorandum contractings", memorandum_contractings_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
