<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing curriculum design</h1>

  <%= render "form", curriculum_design: @curriculum_design %>

  <%= link_to "Show this curriculum design", @curriculum_design, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to curriculum designs", curriculum_designs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
