<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing contract movement</h1>

  <%= render "form", contract_movement: @contract_movement %>

  <%= link_to "Show this contract movement", @contract_movement, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to contract movements", contract_movements_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
