<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editando un certificado de inclusion de objetos iguales en el plan de adquisiciones</h1>

  <%= render "form", inclusion_object_acqu: @inclusion_object_acqu %>

  <%= link_to "Mostrar este certificado de inclusion de objetos en el plan de adquisiciones", @inclusion_object_acqu, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Regresar", inclusion_object_acqus_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
